<!--content-->
<div class="menu">
    <div class="container">
        <div class="menu-top">
            <div class="col-md-4 menu-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                <h3>英灵</h3>
                <label><i class="glyphicon glyphicon-menu-up"></i></label>
                <span>Fate系列中的概念</span>
            </div>
            <div class="col-md-8 menu-right animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                <p>　　英灵，即是其丰功伟绩在死后留为传说，已成信仰对象的英雄所变成的存在。通常，英灵作为保护人类的力量，被世界所召唤。而人类所召唤的就是从者（Servant）了。英灵根据其产生方式可分类为“天”、“地”、“人”这三种属性。“天”是神灵降级成的英灵，或者是神之子、传说的具现化。“地”是已融入某片土地的传说英雄，妖精和魔兽也归于此类。“人”，就是人。</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="menu-bottom animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
            <div class="col-md-4 menu-bottom1">
                <div class="btm-right">
                    <a href="#">
                        <img src="__HOME__/images/servant/001E.png" alt="" class="img-responsive">
                        <div class="captn">
                            <h4>玛修</h4>
                            <p>HP：14248</p>			
                            <p>ATK：9653</p>
                            <p>身高：158cm</p>
                            <p>体重：46kg</p>
                            <p>来自：迦勒底</p>
                            <p>星级：⭐⭐⭐⭐</p>
                            <p>阵营：地</p>
                        </div>
                    </a>						
                </div>
            </div>
            <div class="col-md-4 menu-bottom1">
                <div class="btm-right">
                    <a href="#">
                        <img src="__HOME__/images/servant/002E.png" alt="" class="img-responsive">
                        <div class="captn">
                            <h4>呆毛王</h4>
                            <p>HP：14248</p>			
                            <p>ATK：9653</p>
                            <p>身高：158cm</p>
                            <p>体重：46kg</p>
                            <p>来自：迦勒底</p>
                            <p>星级：⭐⭐⭐⭐⭐</p>
                            <p>阵营：地</p>				
                        </div>
                    </a>						
                </div>
            </div>
            <div class="col-md-4 menu-bottom1">
                <div class="btm-right">
                    <a href="#">
                        <img src="__HOME__/images/servant/003E.png" alt="" class="img-responsive">
                        <div class="captn">
                            <h4>黑呆</h4>
                            <p>HP：14248</p>			
                            <p>ATK：9653</p>
                            <p>身高：158cm</p>
                            <p>体重：46kg</p>
                            <p>来自：迦勒底</p>
                            <p>星级：⭐⭐⭐⭐</p>
                            <p>阵营：地</p>				
                        </div>
                    </a>	
                </div>
            </div>
            <div class="clearfix"> </div>				
        </div>
        <div class="menu-bottom animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
            <div class="col-md-4 menu-bottom1">
                <div class="btm-right">
                    <a href="#">
                        <img src="__HOME__/images/servant/004E.png" alt="" class="img-responsive">
                        <div class="captn">
                            <h4>lily</h4>
                            <p>HP：14248</p>			
                            <p>ATK：9653</p>
                            <p>身高：158cm</p>
                            <p>体重：46kg</p>
                            <p>来自：迦勒底</p>
                            <p>星级：⭐⭐⭐⭐</p>
                            <p>阵营：地</p>				
                        </div>
                    </a>	
                </div>
            </div>
            <div class="col-md-4 menu-bottom1">
                <div class="btm-right">
                    <a href="#">
                        <img src="__HOME__/images/servant/005E.png" alt="" class="img-responsive">
                        <div class="captn">
                            <h4>尼禄</h4>
                            <p>HP：14248</p>			
                            <p>ATK：9653</p>
                            <p>身高：158cm</p>
                            <p>体重：46kg</p>
                            <p>来自：迦勒底</p>
                            <p>星级：⭐⭐⭐⭐</p>
                            <p>阵营：地</p>				
                        </div>
                    </a>	
                </div>
            </div>
            <div class="col-md-4 menu-bottom1">
                <div class="btm-right">
                    <a href="#">
                        <img src="__HOME__/images/servant/006E.png" alt="" class="img-responsive">
                        <div class="captn">
                            <h4>飞哥</h4>
                            <p>HP：14248</p>			
                            <p>ATK：9653</p>
                            <p>身高：158cm</p>
                            <p>体重：46kg</p>
                            <p>来自：迦勒底</p>
                            <p>星级：⭐⭐⭐⭐</p>
                            <p>阵营：地</p>				
                        </div>
                    </a>		
                </div>
            </div>
            <div class="clearfix"> </div>				
        </div>
        <div class="menu-bottom animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
            <div class="col-md-4 menu-bottom1">
                <div class="btm-right">
                    <a href="#">
                        <img src="__HOME__/images/servant/007E.png" alt="" class="img-responsive">
                        <div class="captn">
                            <h4>凯撒</h4>
                            <p>HP：14248</p>			
                            <p>ATK：9653</p>
                            <p>身高：158cm</p>
                            <p>体重：46kg</p>
                            <p>来自：迦勒底</p>
                            <p>星级：⭐⭐⭐⭐</p>
                            <p>阵营：地</p>				
                        </div>
                    </a>		
                </div>
            </div>
            <div class="col-md-4 menu-bottom1">
                <div class="btm-right">
                    <a href="#">
                        <img src="__HOME__/images/servant/008E.png" alt="" class="img-responsive">
                        <div class="captn">
                            <h4>大王</h4>
                            <p>HP：14248</p>			
                            <p>ATK：9653</p>
                            <p>身高：158cm</p>
                            <p>体重：46kg</p>
                            <p>来自：迦勒底</p>
                            <p>星级：⭐⭐⭐⭐</p>
                            <p>阵营：地</p>				
                        </div>
                    </a>		
                </div>
            </div>
            <div class="col-md-4 menu-bottom1">
                <div class="btm-right">
                    <a href="#">
                        <img src="__HOME__/images/servant/009E.png" alt="" class="img-responsive">
                        <div class="captn">
                            <h4>元帅</h4>
                            <p>HP：14248</p>			
                            <p>ATK：9653</p>
                            <p>身高：158cm</p>
                            <p>体重：46kg</p>
                            <p>来自：迦勒底</p>
                            <p>星级：⭐⭐⭐⭐</p>
                            <p>阵营：地</p>				
                        </div>
                    </a>	
                </div>
            </div>
            <div class="clearfix"> </div>				
        </div>
    </div>
</div>
<!--//content-->