<div class="content-top-top">
    <div class="container">
        <div class="content-top">
            <div class="col-md-4 content-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                <h3>魔术礼装</h3>
                <label><i class="glyphicon glyphicon-menu-up"></i></label>
                <span>魔术师施展魔术时作为支援而使用的道具</span>
            </div>
            <div class="col-md-8 content-right animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                <p>　　魔术礼装，是在TYPE-MOON所创造的世界观里的用语，是魔术师施展魔术时作为支援而使用的道具，也被称为“Mystic Code”或“礼装”。魔术礼装无论机能还是形状都各式各样，但要分类的话粗略分为两系统。一种，是魔术师使用魔术时补助魔力的东西。另一种，是礼装本身有预先设定好的效果，使用时会发挥出那个效果。和魔术礼装相似的东西，有“概念武装”。这是透过积累起来的历史、传说或仪式等来为道具赋予意义而制作出来的，能给灵魂和灵体带来影响的兵器。</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="content-mid">

            <div class="col-md-4 food-grid animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
                <div class=" hover-fold">
                    <h4>万圣节小恶魔</h4>                        
                    <p>自己的NP获得量提升20% & 在NP值为50%的状态下开始战斗</p>                    
                    <div class="top">
                        <div class="front face"></div>
                        <div class="back face">
                            <p>万圣之夜小恶魔在跳舞。将幸运寄予令人怜惜的犄角，将祝福寄予令人喜爱的翅膀。哎呀哎呀，离showtime还有多远呢？</p>
                        </div>
                    </div>
                    <div class="bottom"></div>
                </div>
            </div>
            <div class="col-md-4 food-grid animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                <div class=" hover-fold">
                    <h4>万圣节女仆</h4>
                    <p>自己的HP回复量提升60%</p> 
                    <div class="top">
                        <div class="front face front1"></div>
                        <div class="back face">
                            <p>野生的女仆，气势勇猛的大活跃！装点万圣节派对的是用马铃薯制作的猫咪甜点☆。要一点不剩地全部吃完啊，主人候补！</p>
                        </div>
                    </div>
                    <div class="bottom bottom1"></div>
                </div>
            </div>
            <div class="col-md-4 food-grid animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                <div class=" hover-fold">
                    <h4>继而乘船出征</h4>
                    <p>给自己赋予每回合回复100HP的状态</p> 
                    <div class="top">
                        <div class="front face front2"></div>
                        <div class="back face">
                            <p>众多英灵乘坐的神代之船。在航海的前方存在的是胜利还是掠夺？荣光与没落如同空中飞舞的金币一般。</p>
                        </div>
                    </div>
                    <div class="bottom bottom2"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
                <div class="content-mid">

            <div class="col-md-4 food-grid animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
                <div class=" hover-fold">
                    <h4>唠叨哦</h4>
                    <p>自己的暴击威力提升15% & 宝具威力提升15%</p> 
                    <div class="top">
                        <div class="front face front3"></div>
                        <div class="back face">
                            <p>阿长“这个不是卡，而是漫画吧……”阿田“不会读可怎么办啊”阿长“真没办法啊！”</p>
                        </div>
                    </div>
                    <div class="bottom bottom3"></div>
                </div>
            </div>
            <div class="col-md-4 food-grid animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                <div class=" hover-fold">
                    <h4>灵子转换</h4>
                    <p>自己的攻击力和防御力提升25%（3回合）</p> 
                    <div class="top">
                        <div class="front face front4"></div>
                        <div class="back face">
                            <p>应用于月之圣杯战争的崭新技术。借助当代最尖端的魔术师们之手，神秘的一鳞半爪为灵子世界取回了它的光辉。</p>
                        </div>
                    </div>
                    <div class="bottom bottom4"></div>
                </div>
            </div>
            <div class="col-md-4 food-grid animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                <div class=" hover-fold">
                    <h4>月之胜利者</h4>
                    <p>自己的Buster卡性能提升10% & 暴击威力提升20%</p> 
                    <div class="top">
                        <div class="front face front5"></div>
                        <div class="back face">
                            <p>最弱的弱者，终将挑战最强的强者。在灵子虚构世界进行的圣杯战争。那胜者正是，无名的“你”。别问炒面面包的事。</p>
                        </div>
                    </div>
                    <div class="bottom bottom5"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
                <div class="content-mid">

            <div class="col-md-4 food-grid animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
                <div class=" hover-fold">
                    <h4>另一个结局</h4>
                    <p>自己的Arts卡性能提升10% & 暴击威力提升20%</p> 
                    <div class="top">
                        <div class="front face front6"></div>
                        <div class="back face">
                            <p>存在于月之圣杯的另一个可能性。虽知晓前进尽头的结局，但即便如此你也走了下去。相信着愿望前方的未来，和那结下的果实。也相信着特典瑞士蛋糕卷。</p>
                        </div>
                    </div>
                    <div class="bottom bottom6"></div>
                </div>
            </div>
            <div class="col-md-4 food-grid animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                <div class=" hover-fold">
                    <h4>命运/懒散指定</h4>
                    <p>自己的Quick卡性能 & Arts卡性能 & Buster卡性能 & 星星发生率 & 星星集中度 & 暴击威力 & NP获得量 & 宝具威力 & 弱体赋予成功率 & 弱体耐性 & HP回复量全部提升1%</p>  
                    <div class="top">
                        <div class="front face front7"></div>
                        <div class="back face">
                            <p>阿长“角色也太多点了吧……”
                                阿田“这是纪念哟，纪念！”</p>
                        </div>
                    </div>
                    <div class="bottom bottom7"></div>
                </div>
            </div>
            <div class="col-md-4 food-grid animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                <div class=" hover-fold">
                   <h4>庆功会Order</h4> 
                    <p>自己的Quick卡性能提升10%Buster卡性能提升10%</p>
                    <div class="top">
                        <div class="front face front8"></div>
                        <div class="back face">
                            <p>一同战斗的日子来临的二人的悲愿之宴。恭喜，樱Saber。恭喜，魔人Archer。愿两人之梦不为南柯之憾！</p>
                        </div>
                    </div>
                    <div class="bottom bottom8"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>