<!--news-->
<div class="content-top-top">
    <div class="container">
        <div class="content-top">
            <div class="col-md-4 content-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                <h3>素材</h3>
                <label><i class="glyphicon glyphicon-menu-up"></i></label>
                <span>英灵成长必要材料</span>
            </div>
            <div class="col-md-8 content-right animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                <p>人有二十难。贫穷布施难，豪贵学道难，弃命必死难，得睹佛经难，生值佛世难，忍色忍欲难，见好不求难，被辱不嗔难，有势不临难，触事无心难，广学博究难，除灭我慢难，不轻未学难，心行平等难，不说是非难，会善知识难，见性学道难，随化度人难，睹境不动难，善解方便难。</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="news-bottom">
            <div class="news-bot">
                <div class="col-md-6 news-bottom1 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <a href="#">
                        <div class="content-item">
                            <div class="overlay"></div>
                            <div class=" news-bottom2">
                                <ul class="grid-news">
                                    <li><span><i class="glyphicon glyphicon-calendar"> </i>08.09.2014</span><b>/</b></li>
                                    <li><span><i class="glyphicon glyphicon-comment"> </i>5 Comment</span><b>/</b></li>
                                    <li><span><i class="glyphicon glyphicon-share"> </i>Share</span></li>
                                </ul>
                                <p>There are many variations of passages of Lorem Ipsum available</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 news-bottom1 animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <a href="#">
                        <div class="content-item content-item1">
                            <div class="overlay"></div>
                            <div class=" news-bottom2">
                                <ul class="grid-news">
                                    <li><span><i class="glyphicon glyphicon-calendar"> </i>08.09.2014</span><b>/</b></li>
                                    <li><span><i class="glyphicon glyphicon-comment"> </i>5 Comment</span><b>/</b></li>
                                    <li><span><i class="glyphicon glyphicon-share"> </i>Share</span></li>
                                </ul>
                                <p>There are many variations of passages of Lorem Ipsum available</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="news-bot">
                <div class="col-md-6 news-bottom1">
                    <a href="#">
                        <div class="content-item content-item2 animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                            <div class="overlay"></div>
                            <div class=" news-bottom2">
                                <ul class="grid-news">
                                    <li><span><i class="glyphicon glyphicon-calendar"> </i>08.09.2014</span><b>/</b></li>
                                    <li><span><i class="glyphicon glyphicon-comment"> </i>5 Comment</span><b>/</b></li>
                                    <li><span><i class="glyphicon glyphicon-share"> </i>Share</span></li>
                                </ul>
                                <p>There are many variations of passages of Lorem Ipsum available</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 news-bottom1 animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <a href="#">
                        <div class="content-item content-item3">
                            <div class="overlay"></div>
                            <div class=" news-bottom2">
                                <ul class="grid-news">
                                    <li><span><i class="glyphicon glyphicon-calendar"> </i>08.09.2014</span><b>/</b></li>
                                    <li><span><i class="glyphicon glyphicon-comment"> </i>5 Comment</span><b>/</b></li>
                                    <li><span><i class="glyphicon glyphicon-share"> </i>Share</span></li>
                                </ul>
                                <p>There are many variations of passages of Lorem Ipsum available</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
</div>
<!--//news-->